.admin_home_row_1{
    width: 94%;
    height: auto;
    margin-top: 3vh;
    margin-left: 3%;
    border-radius: 15px;
}
video{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.welcome-message {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.welcome-message h1 {
    font-size: 5em;
    font-family: 'Saira Extra Condensed', sans-serif;
}
